.shadow{
  box-shadow: 0px 0px 5px 3px #FFA500;
}

.center{
  width: 50%;
  margin: 0 auto;
}

#navegacion a{
    font-size:x-large;
    padding-top:5px;
}

#logout{
  font-size: large;  
}

#imagen{
    text-align: center;
}

#franja_superior{
  height: 5px;
  background: #0066FF;
}

#franja_inferior{
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 30px;
  height: 5px;
  background: #0066FF;
}

#pie{
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 20px;
  height: 5px;
  text-align: center;
  font-size: small;
  background: white;
}

#encabezado{
    background-color: blue;
    color:white;
    border: 2px solid blue;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    height:70px;
    width:500px;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;  
}

#forma{
    margin-left:auto;
    margin-right:auto;
    width:500px;
    height:255px;
    border:1px solid grey;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
    font-size: x-large;
    text-align: center;
}

#ligas{
    margin-right: auto;
    margin-left: auto;
    width:500px;
}
.inline{
    display:inline;
    margin-right: 60px;
}

#forma_v{
    margin-left:auto;
    margin-right:auto;
    width:500px;
    height:220px;
    border:1px solid grey;
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
    font-size: x-large;
    text-align: center;
}

#bienvenida{
    margin-top:30px;
    alignment-adjust: middle;
    margin-left:auto;
    margin-right:auto;
    width: 500px;
    text-align: center;
}

#izquierda{
    float:left;
    text-align: right;
    margin-left: 30px;
    font-size: x-large;
    line-height: 35px; 
}

#derecha{
    float:right;
    text-align: left;
    margin-right: 30px;
    font-size: x-large;
}

#abajo{
    clear:both;
}

#boton{
    font-size: x-large;
    border-radius: 5px;
}

.box{
    font-size: x-large;    
}

a{
  color:#000066;  
}

a:hover{
  color:gold;
}